@model FoodDeliveryWebApp.Models.User
@{
    ViewData["Title"] = "Login Page";
}
<h1>Login Page @Html.DisplayFor(model => model.UserName)</h1>
<form asp-action="LoginUser" asp-controller="User">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" />
    <label>Password</label>
    <input asp-for="Password" />
    <input type="submit" value="Login" />
    <label>@Html.Raw(ViewBag.Message)</label>
</form>

