@model FoodDeliveryWebApp.Models.OrderViewModel
@{
    ViewData["Title"] = "Profile Page";
    var User = Model?.User;
    var ShippingAddress = Model?.ShippingAddress;
    var ActivedForm = TempData["ActiveForm"] ?? null;

    if (TempData["Result"] != null && TempData["Result"] != "")
    {
                            <div class="alert alert-success" role="alert">
                                @TempData["Result"]
                            </div>
    }

    if (TempData["Error"] != null && TempData["Error"] != "")
    {
                            <div class="alert alert-danger" role="alert">
                                @TempData["Error"]
                            </div>
    }
}
<style>
    .active{
        background-color: #212529 !important;
        color: white !important;
    }

    .nav-link{
        color: #212529;
    }

    .nav-link:hover {
        color: #212529 !important;
    }
</style>
<div class="row ">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column fs-5">
            <li class="nav-item">
                <a class="nav-link active" id="profile" aria-current="page" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="password" href="#">Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="address" href="#">Address</a>
            </li>
        </ul>
    </div>
    <div class="form-group col-md-9">

        <!--Profile-->
        <form class="profile-form form-inner" method="post">
            <div class="profile-form form-inner">
                <h2>Profile</h2>
                <div class="mb-3">
                    <label for="User.UserName" class="form-label">User Name</label>
                    <input asp-for="User.UserName" class="form-control" disabled />
                    <div id="UserName" class="form-text">We'll never share your user name with anyone else.</div>
                </div>
               <!-- <div class="mb-3 input-group-lg">
                    <label for="UserName" class="form-label">User Name</label>
                    <input asp-for="UserName" class="form-control" disabled />
                    <div id="UserName" class="form-text">We'll never share your user name with anyone else.</div>
                 </div>-->
                <div class=" mb-3">
                    <input type="submit" class="btn btn-dark  input-group-lg" value="Update Profile" />
                </div>
            </div>
        </form>

        <!--Password-->
        <form class="password-form form-inner" method="post">
            <div class="password-form form-inner">
                <h2>Change password</h2>
                <div class="mb-3">
                    <label asp-for="User.Password" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="User.Password" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" />
                </div>
                <div class=" mb-3">
                    <input type="submit" class="btn btn-dark  input-group-lg" value="Update Password" />
                </div>
            </div>
        </form>

        <!--Address-->
        <form class="address-form form-inner" asp-action="Address" asp-controller="User"  method="post">
            <input type="hidden" asp-for="ShippingAddress.Id"/>
            <input type="hidden" asp-for="ShippingAddress.UserId"/>
            <div class="password-form form-inner card mb-3">
                <div class="card-header">
                    Shipping Address
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="ShippingAddress.Address" class="form-label">Address</label>
                        <input type="text" class="form-control" asp-for="ShippingAddress.Address" placeholder="323, Rue Jhon Doe">
                    </div>
                    <div class="mb-3">
                        <label asp-for="ShippingAddress.City" class="form-label">City</label>
                        <input type="text" class="form-control" asp-for="ShippingAddress.City" placeholder="Quebec">
                    </div>
                    <div class="mb-3">
                        <label asp-for="ShippingAddress.PostalCode" class="form-label">PostalCode</label>
                        <input type="text" class="form-control" asp-for="ShippingAddress.PostalCode" placeholder="Z0S1S0">
                    </div>
                    <div class="mb-3">
                        <label asp-for="ShippingAddress.Country" class="form-label">County</label>
                        <input type="text" class="form-control" asp-for="ShippingAddress.Country" placeholder="Canada">
                    </div>
                </div>
                <div class=" mb-3 ms-3">
                    <input id="update-address" type="submit" class="btn btn-dark  input-group-lg" value="Update Address" />
                </div>
            </div>
        </form>
       
    </div>

</div>

@section Scripts {
    <script>
        jQuery(document).ready(function () {
            let selector = ".form-group form.form-inner";
            $(selector).hide();
            
            function removeActiveClass() {
                $(".nav-pills .nav-link").each(function () {
                    $(this).removeClass("active");
                })
            }
            //Select first form by default or the form name send by server
            let activeForm = ":first-child";
            let currentForm = "@Html.Raw(ActivedForm)"

            if (currentForm) {
                removeActiveClass()
                $(".form-group ." + currentForm + "-form").show();
                $("#" + currentForm).addClass("active");
            }               
            else
                $(selector + ":first-child").show();


            $(".nav-pills .nav-link").click(function(e){
                e.preventDefault();

                removeActiveClass();

                $(selector).hide();

                let formId = $(this).attr("id");
                $(".form-group ." + formId + "-form").show(); 

                $(this).addClass("active");
            });

            $("#updat-address").click(function(e){
                e.preventDefault();
                
                /*$.post("/User/Address",
                    {
                        name:"OK"
                    }
                )*/
                $.get("/User/Address").done(function (data) {
                    console.log("Data Loaded: " + data)
                }).fail(
                    function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.responseJSON && jqXHR.responseJSON.error) {
                            // Handle the error message
                            var errorMessage = jqXHR.responseJSON.error;
                            console.log(errorMessage);
                        } else {
                            // Fallback error handling
                            console.log(jqXHR.responseJSON);
                        }
                    }
                );
            })
        })
    </script>
}