@model FoodDeliveryWebApp.Models.User
@{
    ViewData["Title"] = "Register Page";

    if (TempData["Result"] != null && TempData["Result"] != "")
    {
        <div class="alert alert-success" role="alert">
            @TempData["Result"]
        </div>
    }

    if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
}

<div class="row fs-5">

    <form class="col-xs-12 col-md-6 mx-auto" asp-action="Register" asp-controller="User" method="post">

        <h1 class="mb-3">Register Page</h1>

        <div class="mb-3 input-group-lg">
            <label for="UserName" class="form-label">User Name</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="mb-5 input-group-lg">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" />
        </div>
        <div class="input-group-lg mb-3">
            <input type="submit" class="btn btn-dark btn-block w-100  input-group-lg" value="Register" />
        </div>

        <a class="d-block text-dark" asp-controller="User" asp-action="Index">Login</a>
    </form>
</div>
