@model FoodDeliveryWebApp.Models.User
@{
    ViewData["Title"] = "Register Page";
}
<h1>Register Page</h1>
<h3>Message- @TempData["Result"]</h3>
<h4>@TempData["Message"]</h4>
<form asp-action="Register" asp-controller="User">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" />
    <label>Password</label>
    <input asp-for="Password" />
    <input type="submit" value="Register" />
    <label>@Html.Raw(ViewBag.Message)</label>

    <a class="" asp-controller="User" asp-action="Index">Login</a>
</form>

