@model FoodDeliveryWebApp.Models.Cart;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@ViewData["Title"]</h1>
<h3>@TempData["error"]</h3>
<div class="row">
    <div class="col-md-8 bg-danger">
        <div id="cart-alert" class="alert alert-info" role="alert">
            Your Cart is empty <a asp-controller="Menu" asp-action="Index" >Go Back</a>
        </div>

        <ul id="cart-list" class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/img/c1.png" class="w-50"/>
                    </div>
                    <div class="col-md-3">
                        name
                    </div>
                    <div class="col-md-2">
                        34
                    </div>
                    <div class="col-md-2">
                       qty
                    </div>
                    <div class="col-md-2">
                        <button class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div  class="col-md-4 bg-black">
        column-4
    </div>
</div>
@section Scripts{
    <script>
       /* let cart = localStorage.getItem('cart')
            ? JSON.parse(localStorage.getItem('cart'))
            : { cartItems: [], shippingAddress: "", paymentMethod: "PayPal" };

        //let loading = false;
    if (cart.cartItems.length > 0) {
       // loading
               $.post("/Cart/Index", cart).done(function (data) {
                   console.log("Successfully : ",data)
               }).fail(function (error) {
                   console.error("Failed  : ",error)
               })
    }*/
    </script>
}