@model FoodDeliveryWebApp.Models.User
@{
    ViewData["Title"] = "Home Page";
   
}
@{
    if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
}
<div class="text-center">
    <h1 class="display-4">Welcome @Html.DisplayFor(model => model.UserName)</h1>
    <h4>@TempData["Message"]</h4>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
