@{
    var UserName = Context.Session.GetString("UserName");
}

<ul class="navbar-nav">
   
    @if (UserName != null && UserName != "")
    {
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserName
            </a>
            <!--Add margin right-->
            <ul class="dropdown-menu dropdown-menu-lg-start">
                <li><a class="dropdown-item" asp-controller="Order" asp-action="Index"> Orders</a></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Profile"> Profile</a></li>
                <!--<li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>-->
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="LogOut" >Log Out </a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a type="button" asp-controller="User" asp-action="Index" class="btn btn-light border-dark">Sign In</a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a type="button" asp-controller="User" asp-action="Register" class="btn btn-dark">Sign Up</a>
                </div>
            </div>
            @* <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Login</a> *@
        </li>
    }

</ul>
