@{
    var UserName = Context.Session.GetString("UserName");
}

<ul class="navbar-nav">
   
    @if (UserName != null && UserName != "")
    {
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserName
            </a>
            <!--Add margin right-->
            <ul class="dropdown-menu" style="margin-right: 20px !important;">
                <li><a class="dropdown-item" href="#">Orders</a></li>
                <!--<li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>-->
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="LogOut" >Log Out </a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Login</a>
        </li>
    }

</ul>
