@{
    //var userName = HttpContext.Session.GetString("JWToken"); 
        //How to using model with partial
}

<ul class="navbar-nav">

    @if (TempData["UserName"] != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @TempData["UserName"]
            </a>
            <!--Add margin right-->
            <ul class="dropdown-menu" style="margin-right: 20px !important;">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="LogOut" >Log Out </a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Login</a>
        </li>
    }

</ul>
